[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0

includePaths.library = APPLICATION_PATH "/../library"

bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"

appnamespace = "Default_"

autoloadernamespaces[] = "Default"
autoloadernamespaces[] = "Verk"
autoloadernamespaces[] = "Doctrine"
autoloadernamespaces[] = "ZFDoctrine"

resources.frontController.controllerDirectory = APPLICATION_PATH "/controllers"
resources.frontController.params.displayExceptions = 0

resources.layout.layout = "layout"
resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"

resources.view.charset = "UTF-8"
resources.view.doctype = "HTML5"
resources.view.language = "en"

resources.view.helperPath.Verk_View_Helper = APPLICATION_PATH "/../library/Verk/View/Helper/"
resources.view.helperPathPrefix.Verk_View_Helper = "Verk_View_Helper"

resources.doctrine.connections.default.dsn = "mysql://root:root@localhost/julekort"
resources.doctrine.manager.attributes.attr_model_loading = "model_loading_zend"

pluginpaths.ZFDoctrine_Application_Resource = "ZFDoctrine/Application/Resource"

; Routes
resources.router.routes.default.route = ":action/*"
resources.router.routes.default.defaults.controller = "index"
resources.router.routes.default.defaults.action = ""

resources.router.routes.send.route = "send/:hash"
resources.router.routes.send.defaults.controller = "index"
resources.router.routes.send.defaults.action = "send"
resources.router.routes.send.defaults.hash = ""

resources.router.routes.view.route = "view/:hash"
resources.router.routes.view.defaults.controller = "index"
resources.router.routes.view.defaults.action = "view"
; resources.router.routes.view.defaults.hash = ""


; Mail
mail.outbound.email     = "no-reply@verk.dk"
mail.outbound.from      = "Verk Julekort"
mail.outbound.host      = "smtp.gmail.com"
mail.outbound.auth      = "login"
mail.outbound.username  = "username"
mail.outbound.password  = "password"
mail.outbound.ssl       = "SSL"
mail.outbound.port      = 465


[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1
